.header {
  padding: toRem(16) toRem(30) 0 toRem(30);
  // color: red;
  .btn-container {
    & > * {
      @include headerBtn;
      &:hover {
        @include hoverHeader;
      }
    }
    .main {
      @include mkIcon('\f420');
    }
    .timeline {
      @include mkIcon('\f211');
    }
    .more {
      &::after {
        content: '\f106';

        padding: 0 5px;
        font-family: 'IconFont';
        font-style: 'normal';
      }
    }
    .add {
      @include mkIcon('\f47b');
    }
  }

  .description {
    padding: 2px;
    width: 70%;
    &:hover {
      @include hoverToEditTxt;
    }
    &:focus {
      @include hoverToEditTxt;
    }
  }
  .board-header-top {
    width: 100%;
    
    .info-star {
      margin-inline-start: -20%;
      z-index: 1;

      .info {
        color: #222;
        @include headerBtn;
        @include mkIcon('\f345');
      }
      .star {
        @include headerBtn;
        @include mkIcon('\f3dc');
      }
      .flex {
        justify-content: start;
      }
    }

    .board-title {
      line-height: toRem(40);
      font-size: 2rem;
      font-weight: 100;
      text-transform: capitalize;

      &:hover {
        outline: solid #3333 1px;
      }
    }

    &.flex {
      justify-content: space-between;
      .board-actions {
        flex-basis: 40%;
        &.flex {
          padding: 2px;
          justify-content: space-between;
        }
        .invite {
          @include mkIcon('\f3fb');
        }
        .activity {
          @include mkIcon('\f468');
        }
        .add {
          @include mkIcon('\f47b');
          border: 1px solid #bdbdbd;
          border-radius: 0.3em;
        }
      }
      .board-title {
        flex-basis: 30%;
        text-overflow: ellipsis;

        &:focus {
          @include hoverToEditTxt;
        }
      }
    }
  }
}
